<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
<display-name>Archetype Created Web Application</display-name>
  <servlet>
    <display-name>SolicitarValeServlet</display-name>
  	<servlet-name>SolicitarValeServlet</servlet-name>
  	<servlet-class>cl.tds.controlvales.servlets.SolicitarValeServlet</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>AutorizarValeServlet</display-name>
  	<servlet-name>AutorizarValeServlet</servlet-name>
  	<servlet-class>cl.tds.controlvales.servlets.AutorizarValeServlet</servlet-class>
  </servlet>
  
  <servlet>
      <display-name>ConsultaValesServlet</display-name>
      <servlet-name>ConsultaValesServlet</servlet-name>
      <servlet-class>cl.tds.controlvales.servlets.ConsultaValesServlet</servlet-class>
  </servlet>
  
  <servlet>
      <display-name>LoginServlet</display-name>
      <servlet-name>LoginServlet</servlet-name>
      <servlet-class>cl.tds.controlvales.servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
      <display-name>RegistrarUsuarioServlet</display-name>
      <servlet-name>RegistrarUsuarioServlet</servlet-name>
      <servlet-class>cl.tds.controlvales.servlets.RegistrarUsuarioServlet</servlet-class>
  </servlet>
  
  <servlet>
      <display-name>ModificarUsuarioServlet</display-name>
      <servlet-name>ModificarUsuarioServlet</servlet-name>
      <servlet-class>cl.tds.controlvales.servlets.ModificarUsuarioServlet</servlet-class>
  </servlet>
  
  <servlet>
      <display-name>EliminarUsuarioServlet</display-name>
      <servlet-name>EliminarUsuarioServlet</servlet-name>
      <servlet-class>cl.tds.controlvales.servlets.EliminarUsuarioServlet</servlet-class>
  </servlet>
  
  <servlet>
      <display-name>RegistrarDepartamentoServlet</display-name>
      <servlet-name>RegistrarDepartamentoServlet</servlet-name>
      <servlet-class>cl.tds.controlvales.servlets.RegistrarDepartamentoServlet</servlet-class>
  </servlet>
  
  <servlet>
      <display-name>ModificarDepartamentoServlet</display-name>
      <servlet-name>ModificarDepartamentoServlet</servlet-name>
      <servlet-class>cl.tds.controlvales.servlets.ModificarDepartamentoServlet</servlet-class>
  </servlet>
  
  <servlet>
      <display-name>RegistrarCentroDeCostoServlet</display-name>
      <servlet-name>RegistrarCentroDeCostoServlet</servlet-name>
      <servlet-class>cl.tds.controlvales.servlets.RegistrarCentroDeCostoServlet</servlet-class>
  </servlet>
  
  <servlet>
      <display-name>ModificarCentroDeCostoServlet</display-name>
      <servlet-name>ModificarCentroDeCostoServlet</servlet-name>
      <servlet-class>cl.tds.controlvales.servlets.ModificarCentroDeCostoServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>ConfirmarMontoServlet</display-name>
  	<servlet-name>ConfirmarMontoServlet</servlet-name>
  	<servlet-class>cl.tds.controlvales.servlets.ConfirmarMontoServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>IngresarPlanillaServlet</display-name>
  	<servlet-name>IngresarPlanillaServlet</servlet-name>
  	<servlet-class>cl.tds.controlvales.servlets.IngresarPlanillaServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>ModuloInformeServlet</display-name>
  	<servlet-name>ModuloInformeServlet</servlet-name>
  	<servlet-class>cl.tds.controlvales.servlets.ModuloInformeServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>ProcesarPlanillaServlet</display-name>
  	<servlet-name>ProcesarPlanillaServlet</servlet-name>
  	<servlet-class>cl.tds.controlvales.servlets.ProcesarPlanillaServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SolicitarValeServlet</servlet-name>
  	<url-pattern>/SolicitarValeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>AutorizarValeServlet</servlet-name>
  	<url-pattern>/AutorizarValeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>ConsultaValesServlet</servlet-name>
  	<url-pattern>/ConsultaValesServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ConfirmarMontoServlet</servlet-name>
  	<url-pattern>/ConfirmarMontoServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>RegistrarUsuarioServlet</servlet-name>
  	<url-pattern>/RegistrarUsuarioServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ModificarUsuarioServlet</servlet-name>
  	<url-pattern>/ModificarUsuarioServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>EliminarUsuarioServlet</servlet-name>
  	<url-pattern>/EliminarUsuarioServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>RegistrarDepartamentoServlet</servlet-name>
  	<url-pattern>/RegistrarDepartamentoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ModificarDepartamentoServlet</servlet-name>
  	<url-pattern>/ModificarDepartamentoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>RegistrarCentroDeCostoServlet</servlet-name>
  	<url-pattern>/RegistrarCentroDeCostoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ModificarCentroDeCostoServlet</servlet-name>
  	<url-pattern>/ModificarCentroDeCostoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>IngresarPlanillaServlet</servlet-name>
  	<url-pattern>/IngresarPlanillaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ModuloInformeServlet</servlet-name>
  	<url-pattern>/ModuloInformeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ProcesarPlanillaServlet</servlet-name>
  	<url-pattern>/ProcesarPlanillaServlet</url-pattern>
  </servlet-mapping>
</web-app>
